/* CONTAINER */
.home-container {
    background: radial-gradient(circle at top, #0f2027, #000);
    min-height: 100vh;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    padding: 6rem 2rem;
}

.hero-card {
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3rem;
    background: rgba(255, 255, 255, 0.053);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
    animation: fadeInUp 1s ease forwards;
    animation: fadeIn 2s ease forwards;
    animation: moveboder 10s ease infinite;
    background: linear-gradient(-45deg, #1017267a, #1c355fa6, #2a353e97, #1d428586);
    background-size: 400% 400%;

}



.hero::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 16px;
    background: #0f2027;
    z-index: -1;
    background: linear-gradient(45deg, #4dabf7, #1e3c72, #2a5298, #4dabf7);
    background-size: 400% 400%;
    animation: moveboder 10s ease infinite;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveboder {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}



/* TEXT */

.hero-text h1 {
    font-size: 3rem;
    font-weight: 600;
    background-image: url("../../public/img.jpg");
    background-size: 200%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: moveBg 10s linear infinite;
}

@keyframes moveBg {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}


.hero-text h1 span {
    color: #4dabf7;
}

.hero-text h2 {
    font-weight: 400;
    opacity: 0.85;
    margin-bottom: 1rem;
}

.hero-text p {
    max-width: 500px;
    line-height: 1.6;
    opacity: 0.9;
}

/* BUTTONS */
.hero-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn.primary {
    background: #4dabf7;
    color: #000;
}

.btn.primary:hover {
    background: #74c0fc;
}

.btn.secondary {
    border: 1px solid #4dabf7;
    color: #4dabf7;
}

.btn.secondary:hover {
    background: rgba(77, 171, 247, 0.1);
}

/* SOCIALS */
.hero-socials {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
}

.hero-socials a {
    font-size: 1.4rem;
    color: #4dabf7;
    transition: 0.3s;
}

.hero-socials a:hover {
    transform: translateY(-3px);
}

/* IMAGE */
.hero-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-wrapper img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgba(77, 171, 247, 0.6);
}

/* SKILLS STRIP */
.skills-strip {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    padding: 2rem;
}

.skills-strip span:nth-child(odd) {
    background: linear-gradient(135deg,
            rgba(58, 15, 22, 0.7),
            rgba(38, 42, 107, 0.7),
            rgb(33, 74, 88));
    background-size: 300% 300%;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

.skills-strip span:nth-child(even) {
    background: linear-gradient(135deg,
            rgb(16, 73, 16),
            rgb(33, 74, 88),
            rgba(38, 42, 107, 0.7));
    background-size: 300% 300%;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

.skills-strip span {
    animation: moveBgSkills 10s linear infinite;
}


.skills-strip span:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

@keyframes moveBgSkills {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }



    100% {
        background-position: 100% 50%;
    }
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        padding: 0px;
    }

    .hero-card {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0.5rem;
        gap: 1.5rem;

    }


    .hero-card h2 {
        font-size: 1.1rem;
        margin: 0.5rem;
    }

    .hero-card p {
        max-width: 100%;
        font-size: 0.89rem;
    }

    .hero-buttons {
        justify-content: center;
        gap: 8px;
    }

    .btn {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }

    .hero-socials {
        justify-content: center;
    }
}


/* Apply to entire page */
html {
    scroll-behavior: smooth;

}

.changeBtn {
    position: absolute;
    top: 90%;
    right: 20%;
    background: none;
    border: none;
    color: #000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}